# Check for vulnerabilities
name: check

# on events
on: [push]

# jobs
jobs:
  govulncheck_job:
      permissions:
        contents: read  # for govulncheck to read the repository contents
      runs-on: ubuntu-latest
      name: Run govulncheck
      steps:
        - id: govulncheck
          uses: golang/govulncheck-action@v1
          with:
            go-version-input: 1.25.6
            go-package: ./...
